@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Playfair Display", serif;
  font-family: "Ubuntu", sans-serif;
}

/*Navbar Code*/

.navbar {
  /* color: #fff; */
  height: 5rem;
  background-color: #72cb81;
  display: flex;
  justify-content: space-between;
}
.navbar img {
  margin-top: 0.5rem;
  /* margin-left: 0rem; */
  width: 3.5rem;
  height: 3.7rem;
}
.navbar .nav {
  background-color: #fff;
  color: white;
}

/* Updated CSS for the dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 5rem; /* Adjust this value to position it below the <a> tag */
  right: 0; /* This positions the dropdown to the right */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6fa178;
}

.show {
  display: block;
}

/* Homepage Code */

body {
  background-color: #b3e0f2;
  /* background-image: linear-gradient(to bottom, 
    rgba(145, 139, 139, 0.75), 
    rgba(34, 30, 29, 0.75)), url(
'images/pmpml_bus_bg.jpeg');
background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.container {
  width: 100%;
}

/* .navbar h2{
    color: #fff;
    font-size: px;
    font-weight: 400;
    margin-top: 25px;
    margin-right: 12px;
} */

.fa-bars {
  color: #fff;
  margin-right: 2rem;
  margin-top: 2.5rem;
  /* height: 50px;
    width: 100px; */
}
.content h2 {
  margin-bottom: 45px;
}
.content {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 105px 195px; */
}
.content h1 {
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-right: 4rem;
  text-align: center;
}
.content img {
  margin-top: 4rem;
  height: 18%;
  width: 85%;
  text-align: center;
  /* margin-left: 55px; */
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #72cb81;
  height: 48px;
  margin-bottom: 1.4rem;
}
button:hover {
  transform: scale(1.04);
  background-color: #62a26d;
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 5rem;
}

.maps {
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 25rem;
  height: 15rem;
}

.map {
  display: flex;
  justify-content: center;
}

/* Bus Pass Page code */
/* .container-2{
    background-image: linear-gradient(to bottom, 
    rgba(145, 139, 139, 0.75), 
    rgba(34, 30, 29, 0.75)), url(
'images/pmpml_bus_bg.jpeg');
background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #93b1bd;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.top{
    border: 2px solid grey;
    margin-top: 2rem;
}
.border{
    width: 9rem;
    border: 1px solid red;
    margin-top: 1rem;
}   
.middle{
    margin-top: 2.5rem;
}
.middle .first{
    background: #f3efef;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b3e0f2;
    width: 20rem;
    height: 15rem;
}
.middle .second{
    background: #f3efef;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b3e0f2;
    width: 20rem;
    height: 15rem;
    margin-top: 4rem;
}
.first h2{
    position: absolute;
    top: 1rem;
}
.first h3{
    position: absolute;
    top: 4rem;
}
label{
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}
select{
    border-radius: 0.8rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    width:3.5rem;
    height: 2rem;
    margin-bottom: 1.4rem;
} */

/* Daily Pass Code*/
.container3 {
  background-image: linear-gradient(
      to bottom,
      rgba(108, 104, 104, 0.75),
      rgba(15, 13, 13, 0.75)
    ),
    url("images/background\ image.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 0.14rem;
  height: 100%;
}
.container3 h1 {
  color: #ffffff;
  font-weight: 800;
  margin-top: 3rem;
  margin-left: -2rem;
}
.sp1 {
  color: #fff;
}
.dailyPass {
  border: 1px solid grey;
  padding: 1rem 0.5rem;
  margin: 2rem;
  margin-top: 4rem;
  height: 15rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #72cb81;
  height: 48px;
}
button:hover {
  transform: scale(1.04);
  background-color: #62a26d;
}

.selectTickets label {
  /* margin-top: 2rem; */
  font-size: 1.6rem;
  /* margin-bottom: 0.7rem; */
}
.selectTickets select {
  border-radius: 0.8rem;
  border: 2px solid black;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 5rem;
  height: 2.1rem;
  margin-bottom: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* .dailyPass h2 {
    display: inline-block;
  } */
.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dailyPass button {
  padding: 4rem rem;
  margin-bottom: 2.4rem;
}

.selectTickets span {
  font-size: 1.3rem;
  margin-right: 0.8rem;
  font-weight: bold;
}

/* BOOK TICKET CODE */

.bookTicket {
  /* margin-left: 5rem; */
  margin-top: 7rem;
  background: #fff;
  width: 20rem;
  box-shadow: rgba(0.2, 0.2, 0.2, 0.46) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0.3rem;
}
/* body{
  display: flex;
  justify-content: center;
  flex-direction: column; 
}*/

.bookticketContainer {
  /* text-align: center;
  color: red;
  margin-left: 4rem; */
  display: flex;
  /* border:2px solid red; */
  justify-content: center;
}
.group img {
  margin-top: 2.4rem;
}
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 4rem;
}

.details {
  padding-left: 2rem;
}

.details span {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.group {
  display: flex;
  margin-top: 0.1rem;
}

img {
  width: 1.5;
  height: 1.5rem;
  margin-top: 1.4rem;
  margin-right: 1rem;
}

select {
  margin-left: 2.6rem;
  font-size: large;
  margin-bottom: 1rem;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #72cb81;
  height: 48px;
}
button:hover {
  transform: scale(1.04);
  background-color: #62a26d;
}

.fare {
  margin-top: 2rem;
  margin-left: 4rem;
  font-size: 1.5rem;
}

.pay {
  margin-left: 4rem;
  margin-top: 2rem;
}

/*Confirm Booking Page*/
.container5 {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Playfair Display", serif;
}

.top5 {
  /* text-align: center; */
  background-color: #6fa178;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top5 h2 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  /* padding: 1rem; */
  /* margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem; */
  /* text-align: center; */
  color: #fff;
}

.middle5 {
  margin: 18px 0;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  line-height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 1rem;
}

.middle5 h2 {
  margin: 10px 0;
  color: #333;
}

.middle5 span {
  /* color: #3498db; */
  font-weight: bold;
  margin-left: 5rem;
}
#ticket {
  margin-left: 4.5rem;
}
#source {
  margin-left: 5rem;
}
#Destination {
  margin-left: 7rem;
}
#rs {
  color: red;
  margin-left: 4rem;
}
.bottom5 {
  text-align: center;
  margin-top: 20px;
}
.bottom5 button {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}

/*Successfully Booked Page*/

.container6 {
  /* font-family: 'Playfair Display', serif; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  gap: 2rem;
  letter-spacing: 0.1rem;
}
.check_img img {
  margin-left: 1.7rem;
  width: 5rem;
  height: 5rem;
}
.booked-info {
  margin-left: 2.8rem;
}
.booked-info h3 {
  margin-top: 1.5rem;
  margin-left: 4.8rem;
}

/*Your Ticket page*/

.container7 {
  max-width: 600px;
  margin: 140px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container7 img {
  width: 5rem;
  height: 5rem;
}
.top7 {
  text-align: center;
}

h1 {
  color: #333;
  text-transform: uppercase;
  /* text-decoration: underline; */
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.middle7 {
  margin-top: 20px;
  text-align: center;
}
.middle7 #tkt {
  border: 2px solid gray;
  border-radius: 1rem;
  width: fit-content;
  margin-left: 9rem;
  padding:  1rem;
  background: #62a26d;
  color: white;
}
h2 {
  text-align: center;
  margin-top: 2rem;
  /* color: #007BFF; */
  margin-bottom: 10px;
}
#seat {
  margin-left: 3rem;
}
#b_id {
  margin-left: 3rem;
}
#dt {
  margin-left: 2.7rem;
}
#date {
  margin-left: 3.3rem;
}
#tm {
  margin-left: 1.2rem;
}
#time {
  margin-left: 2.8rem;
}

/*About Us*/

.container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.img8 img {
  width: 500px;
  margin-left: 1rem;
  height: 500px;
  object-fit: cover; /* This property ensures that the image covers the container while maintaining its aspect ratio */
}

.content8 {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 20px; /* Adjust the margin based on your preference */
  max-width: 800px; /* Adjust the maximum width of the content */
}

.content8 h1,
.content8 h2 {
  text-align: center; /* Center headings */
  margin-right: 5rem;
}
